img {
    width: 286px;
    height: 175px
}

card.{
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px
}

.btn {
    text-align: center;

}

footer {
    text-align: center;
}

.viewingCar {
    width:65%;
    height: auto;
}